.med-password-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .med-password-input__input {
    padding-right: var(--control-height-md);
    padding-right: calc(var(--control-height-md) + var(--space-component-xs));
  }

  .med-password-input__toggle {
    position: absolute;
    right: var(--space-component-xs);
    background: transparent;

    &:hover {
      background: var(--color-surface-hover);
    }
  }
}